//margin-top
.u-margin-top-sm {
  margin-top: 2rem !important;
}
.u-margin-top-md {
  margin-top: 4rem !important;
}
.u-margin-top-bg {
  margin-top: 6rem !important;
}
.u-margin-top-xl {
  margin-top: 8rem !important;
}
//font-size
.u-font-size-sm {
  font-size: 1.6rem !important;
}
.u-font-size-md {
  font-size: 2.4rem !important;
}
.u-font-size-lg {
  font-size: 3.6rem !important;
}
.u-font-size-xl {
  font-size: 4.8rem !important;
}
