.header {
  p {
    margin-top: 1.4rem;
  }
  .hero {
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-img {
      max-width: 90%;
      margin-top: 5rem;
    }
  }
}
